<h1>Stupid Coaching</h1>


<form action="/answer">
  <label for="question" class="d-flex justify-content-end">Ask your coach anything</label>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input type="submit" class="btn btn-primary" value="Ask">
</form>
